.container {
  /*
   * Whatever horizontal space value (margin[left-right] or padding[left-right])
   * used for `container` must be reflected in
   * FileNode.module.css > .occurrence > .line class' --parent-space value
  */
  margin: var(--space-4) var(--space-2);
  overflow-y: auto;
  flex: 1;
}
