.submitButton {
  composes: regularButton from "../../../lib/elements.module.css";
  margin: var(--space-1) var(--space-2);
  width: calc(100% - (2 * var(--space-2)));
  display: block;
}

.divider {
  composes: divider from "../../../lib/elements.module.css";
}
