:root {
  --fontSizes-0: 0px;
  --fontSizes-1: 9px;
  --fontSizes-2: 12px;
  --fontSizes-3: 13px;
  --fontSizes-4: 16px;
  --fontSizes-5: 19px;
  --fontSizes-6: 24px;
  --fontSizes-7: 28px;
  --fontSizes-8: 33px;
  --fontSizes-9: 40px;

  --fontWeights-thin: 100;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semibold: 600;
  --fontWeights-bold: 700;
  --fontWeights-extrabold: 800;
  --fontWeights-black: 900;

  --radii-small: 2px;
  --radii-medium: 4px;
  --radii-large: 16px;
  --radii-round: 50%;

  --colors-white: #ffffff;
  --colors-grays-100: #fff9f9;
  --colors-grays-200: #e6e6e6;
  --colors-grays-300: #999999;
  --colors-grays-400: #757575;
  --colors-grays-500: #343434;
  --colors-grays-600: #242424;
  --colors-grays-700: #151515;
  --colors-grays-800: #111111;
  --colors-grays-900: #040404;
  --colors-blues-300: #6cc7f6;
  --colors-blues-500: #3793e0;
  --colors-blues-600: #0971f1;
  --colors-blues-700: #535bcf;
  --colors-reds-200: #eb455a;
  --colors-reds-300: #ff453a;
  --colors-reds-500: #e1270e;
  --colors-indigo: #5962df;
  --colors-green: #5bc266;
  --colors-purple: #bf5af2;
  --colors-yellow: #fbcc43;
  --colors-orange: #f69935;

  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-13: 52px;
  --space-14: 56px;
  --space-15: 60px;
  --space-16: 64px;

  --sizes-0: 0px;
  --sizes-1: 4px;
  --sizes-2: 8px;
  --sizes-3: 12px;
  --sizes-4: 16px;
  --sizes-5: 20px;
  --sizes-6: 24px;
  --sizes-7: 28px;
  --sizes-8: 32px;
  --sizes-9: 36px;
  --sizes-10: 40px;
  --sizes-11: 44px;
  --sizes-12: 48px;
  --sizes-13: 52px;
  --sizes-14: 56px;
  --sizes-15: 60px;
  --sizes-16: 64px;

  --duration-0: 0;
  --duration-1: 75ms;
  --duration-2: 100ms;
  --duration-3: 150ms;
  --duration-4: 200ms;
  --duration-5: 300ms;
  --duration-6: 500ms;

  --shadows-0: none;
  --shadows-1: 0px 8px 4px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24);
  --shadows-2: 0px 4px 4px rgba(0, 0, 0, 0.12),
    0px 16px 32px rgba(0, 0, 0, 0.24);
  --shadows-active: inset 0px -2px 0px #6cc7f6;
  --shadows-underline: inset 0px -2px 0px #fff9f91a;
  --shadows-fadeunder: inset 0px 8px 8px 0px #151515cc;
}
